<?xml version="1.0" encoding="UTF-8" ?>

<beans>
    <bean id="fruitDAO" class="com.chen.fruit.dao.impl.FruitDAOImpl" />
    <bean id="fruitService" class="com.chen.fruit.service.impl.FruitServiceImpl ">
        <!-- property标签用来表示属性；name表示属性名；ref表示引用其他bean的id值 -->
        <property name="fruitDAO" ref="fruitDAO" />
    </bean>
    
    <!-- 这个bean标签的作用是 servletPath中涉及的名字对应的是fruit，那么就由与之对应的FruitController类来处理 -->
    <bean id="fruit" class="com.chen.fruit.controllers.FruitController" >
        <property name="fruitService" ref="fruitService" />
    </bean>

</beans>